src/Penmanshiel/**
kml/**
nbfiles.txt
powershell_script_import_libraries.txt
tests/__pycache__/**
src/helperfunctions/__pycache__/**
src/helperfunctions/.ipynb_checkpoints/**
**/.ipynb_checkpoints/
src/__pycache__/**
src/early_stopping/**
src/prints/**
src/.ipynb_checkpoints/**

__pycache__/
.vscode/
.venv/
.pytest_cache/
.pdm-build/